*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
}
header nav img{
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
}
header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline;
    margin-right: 10px;
    background-color: black;
    color: white;
    padding: 2px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition:  0.3s;
}
header nav ul li:hover{
    color: red;
    font-size: 20px;
    position: relative;
    bottom: 10px;
}
header nav ul li:focus{
    color: red;
    font-size: 20px;
    position: relative;
    bottom: 10px;
}


header nav button, .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transition: 1.5s;
}
header nav button:hover, .btn:hover{
    color: red;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    color: red;
}

header nav button:focus, .btn:focus{
    color: rgb(0, 238, 255);
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.section-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 150px;
    height: 200px;
    border: 2px solid black;
}