*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav img{
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
}
header nav ul{
    list-style: none;
    gap: 10px;
}

header nav ul li{
    display: inline;
}